@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './frontend/admin-bar.css';
@import './frontend/base.css';
@import './frontend/layout.css';
@import './frontend/posts.css';
@import './frontend/components.css';

@theme {
    --color-onflaude-dark: #003893;
    --color-onflaude-light: #0097D7;
    --color-onflaude-sidebar: #DCEBF2;
}